<!DOCTYPE html>
<html>

<head>
	<title>LoL - Mstry</title>

	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="/stylesheets/materialize.min.css">
	<link rel="stylesheet" href="/stylesheets/index-style.css">
	<link rel="icon" type="image/png" href="/images/logo.png" />
</head>

<body class="blue-grey darken-4">

	<div class="row center valign-wrapper" style="height:100vh; margin-bottom: 0px;">
		<div class="container">
			<div class="col s12 m8 offset-m2 l8 offset-l2">
				<div class="col s12">
					<div class="col s12 m12 l12">
						<img src="/images/logo.png" class="container center" style="max-width:300px; height:auto;">
					</div>
				</div>
				<div class="card white col s12">
					<div class="input-field col s12">
						<input placeholder="Summoner Name" id="summonerName_input" type="text" class="validate" required>
					</div>
					<div class="col s12">
						<ul class="tabs">
							<li class="tab col s1 "><a href="#test1">BR</a></li>
							<li class="tab col s1"><a href="#test2">EUNE</a></li>
							<li class="tab col s1"><a class="active" href="#test3">EUW</a></li>
							<li class="tab col s1"><a href="#test4">LAN</a></li>
							<li class="tab col s1"><a href="#test4">LAS</a></li>
							<li class="tab col s1"><a href="#test4">NA</a></li>
							<li class="tab col s1"><a href="#test4">OCE</a></li>
							<li class="tab col s1"><a href="#test4">RU</a></li>
							<li class="tab col s1"><a href="#test4">TR</a></li>
						</ul>
					</div>
					<div class="col s12" style="margin-top:10px; margin-bottom:10px;">
						<a id="searchForSummoner" class="waves-effect waves-light btn blue-grey darken-1">GO</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="/javascripts/dist/jquery.min.js"></script>
	<script type="text/javascript" src="/javascripts/dist/materialize.min.js"></script>

	<script type="text/javascript" src="/javascripts/common/tools.js"></script>
	<script type="text/javascript" src="/javascripts/common/RequestModule.js"></script>
	<script type="text/javascript" src="/javascripts/common/env.js"></script>
	<script type="text/javascript" src="/javascripts/common/LOLRequests.js"></script>

	<script type="text/javascript" src="/javascripts/index/main.js"></script>
</body>

</html