<!DOCTYPE html>
<html>
    <head>
        <title>LoL - Mstry</title>
        <link rel="stylesheet" href="/stylesheets/materialize.min.css">
        <link rel="stylesheet" href="/stylesheets/index-style.css">
    </head>

    <body>
        <h1>Hello Mstry</h1>
		<span>Hello bis</span>

        <script type="text/javascript" src="/javascripts/dist/jquery.min.js"></script>
        <script type="text/javascript" src="/javascripts/dist/materialize.min.js"></script>
		
		<script type="text/javascript" src="/javascripts/tools.js"></script>
		<script type="text/javascript" src="/javascripts/RequestModule.js"></script>
		<script type="text/javascript" src="/javascripts/LOLRequests.js"></script>
		<script type="text/javascript" src="/javascripts/env.js"></script>
		<script type="text/javascript" src="/javascripts/main.js"></script>
    </body>
</html>