<!DOCTYPE html>
<html>

<head>
	<title>LoL - Mstry</title>

	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="/stylesheets/materialize.min.css">
	<link rel="stylesheet" href="/stylesheets/index-style.css">
	<link rel="icon" type="image/png" href="/images/logo.png" />
</head>

<body class="blue-grey darken-4">

	<div class="row center valign-wrapper" style="height:100vh; margin-bottom: 0px;">
		<div class="container">
			<div class="col s12 m12 l8 offset-l2">
				<div class="col s12">
					<div class="col s12 m12 l12">
						<img src="/images/logo_text.png" class="container center" style="max-width:300px; height:auto;">
					</div>
				</div>
				<div class="card white col s12">
					<div class="input-field col s12">
						<input placeholder="Summoner Name" id="summonerName_input" type="text" class="validate" required>
					</div>
					{% if error %}
						<div class="col s12">
							<div class="card white red-text" style="padding: 15px 0px">
								{% if error.error == "400" %}
									<b>Invalid parameters</b>
									<br>
									<span>Length of summoner name must be between 3 and 16 characters.</span>
								{% elseif error.error == "404" %}
									<b>Summoner not found</b>
									<br>
									<span>Summoner '{{error.summonerName}}' does not seem to exist on server '{{error.region}}'</span>
								{% else %}
								{% endif %}
							</div>
						</div>
					{% endif %}
					<div class="col s12 large-server-selection">
						<ul class="tabs">
							<li class="tab col s1 "><a href="#BR">BR</a></li>
							<li class="tab col s1"><a href="#EUNE">EUNE</a></li>
							<li class="tab col s1"><a class="active" href="#EUW">EUW</a></li>
							<li class="tab col s1"><a href="#JP">JP</a></li>
							<li class="tab col s1"><a href="#KR">KR</a></li>
							<li class="tab col s1"><a href="#LAN">LAN</a></li>
							<li class="tab col s1"><a href="#LAS">LAS</a></li>
							<li class="tab col s1"><a href="#NA">NA</a></li>
							<li class="tab col s1"><a href="#OCE">OCE</a></li>
							<li class="tab col s1"><a href="#RU">RU</a></li>
							<li class="tab col s1"><a href="#TR">TR</a></li>
						</ul>
					</div>

					<div class="col s12 small-server-selection">
						<div class="input-field col s12">
							<select>
								<option value="" disabled selected>Choose your server</option>
								<option value="BR">BR</option>
								<option value="EUNE">EUNE</option>
								<option value="EUW">EUW</option>
								<option value="JP">JP</option>
								<option value="KR">KR</option>
								<option value="LAN">LAN</option>
								<option value="LAS">LAS</option>
								<option value="NA">NA</option>
								<option value="OCE">OCE</option>
								<option value="RU">RU</option>
								<option value="TR">TR</option>
							</select>
						</div>
					</div>

					<div class="col s12" style="margin-top:10px; margin-bottom:10px;">
						<a id="searchForSummoner" class="waves-effect waves-light btn blue-grey darken-1">GO</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="/javascripts/dist/jquery.min.js"></script>
	<script type="text/javascript" src="/javascripts/dist/materialize.min.js"></script>

	<script type="text/javascript" src="/javascripts/common/tools.js"></script>
	<script type="text/javascript" src="/javascripts/common/RequestModule.js"></script>
	<script type="text/javascript" src="/javascripts/common/env.js"></script>
	<script type="text/javascript" src="/javascripts/common/LOLRequests.js"></script>

	<script type="text/javascript" src="/javascripts/index/main.js"></script>
</body>

</html