<!DOCTYPE html>
<html>

<head>
	<title>LoL - Mstry</title>

	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/stylesheets/materialize.min.css">
	<link rel="stylesheet" href="/stylesheets/index-style.css">
	<link rel="icon" type="image/png" href="/images/logo.png" />
</head>

<body class="blue-grey darken-4">

	<ul id="server_dd_full" class="dropdown-content blue-grey-text text-darken-3">
		<li><a href="#!">BR</a></li>
		<li><a href="#!">EUNE</a></li>
		<li><a href="#!">EUW</a></li>
		<li><a href="#!">LAN</a></li>
		<li><a href="#!">LAS</a></li>
		<li><a href="#!">NA</a></li>
		<li><a href="#!">OCE</a></li>
		<li><a href="#!">RU</a></li>
		<li><a href="#!">TR</a></li>
	</ul>
	<ul id="server_dd_mobile" class="dropdown-content">
		<li><a href="#!">BR</a></li>
		<li><a href="#!">EUNE</a></li>
		<li><a href="#!">EUW</a></li>
		<li><a href="#!">LAN</a></li>
		<li><a href="#!">LAS</a></li>
		<li><a href="#!">NA</a></li>
		<li><a href="#!">OCE</a></li>
		<li><a href="#!">RU</a></li>
		<li><a href="#!">TR</a></li>
	</ul>
	<nav class="blue-grey darken-1">
		<div class="nav-wrapper container">
			<a href="/" class="brand-logo"><img src="/images/logo.png" class="container center" style="height:85px; width:auto;"></a>
			<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li>
					<form>
						<div class="input-field">
							<input id="search" type="search" required placeholder="{{name}}">
							<label for="search"><i class="material-icons">search</i></label>
							<i class="material-icons">close</i>
						</div>
					</form>
				</li>
				<li><a class="dropdown-button" href="#!" data-activates="server_dd_full">Servers<i class="material-icons right">arrow_drop_down</i></a></li>
				<li><a href="#">About</a></li>
			</ul>
			<ul class="side-nav blue-grey lighten-4" id="mobile-demo">
				<li>
					<form>
						<div class="input-field">
							<input id="search" type="search" required placeholder="{{name}}">
							<label for=" search "><i class="material-icons ">search</i></label>
							<i class="material-icons ">close</i>
						</div>
					</form>
				</li>
				<li><a class="dropdown-button" href="#!" data-activates="server_dd_mobile">Servers<i class="material-icons right">arrow_drop_down</i></a></li>
				<li><a href="# ">About</a></li>
			</ul>
		</div>
	</nav>

	<main style="margin-top:30px;">

		<div class="row">

			<div class="container center">
				<div id="summonerInfo" class="card white section">
					<div id="summonerInfo_loader" class="preloader-wrapper big active">
						<div class="spinner-layer spinner-blue-only">
							<div class="circle-clipper left">
								<div class="circle"></div>
							</div>
							<div class="gap-patch">
								<div class="circle"></div>
							</div>
							<div class="circle-clipper right">
								<div class="circle"></div>
							</div>
						</div>
					</div>
					<div id="summonerInfo_container" class="row" style="margin-bottom:0px; display:none;">
						<div class="col s10 offset-s1">
							<div class="col s12 m5 l2" id="summonerIcon_col">
								<div style="position:relative;width:120px;height:120px;left:50%;margin-left:-60px;">
									<img src="http://ddragon.leagueoflegends.com/cdn/6.9.1/img/profileicon/{{profileIconId}}.png" style="position:relative;width:100%;height:100%;">
									<div id="triangle_level" style="position:absolute;bottom:0px;right:0px;width:0px;height:0px;border-style:solid;border-width:0 0 40px 40px; border-color: transparent transparent #263238 transparent;"></div>
									<span class="white-text" style="position:absolute;bottom:0px;right:5px;">{{summonerLevel}}</span>
								</div>
							</div>
							<div class="col s12 m7 l5" style="margin-bottom:5px;">
								<div class="col s12">
									<h6>{{name}}</h6>
								</div>
								<div id="summonerInfo_sumChampionLevel" class="col s12 m12 l6"></div>
								<div class="col s12 m12 l6">
									{{revisionDate}}
								</div>
							
							</div>
							<div class="col s12 m12 l5" style="height:200px;">
								<canvas id="rankedChart" style="width:100%;height:100%;"></canvas>
							</div>
						</div>
					</div>
				</div>
				<div id="topChampionMasteries" class="card white section">
					<div id="topChampionMasteries_loader" class="preloader-wrapper big active">
						<div class="spinner-layer spinner-blue-only">
							<div class="circle-clipper left">
								<div class="circle"></div>
							</div>
							<div class="gap-patch">
								<div class="circle"></div>
							</div>
							<div class="circle-clipper right">
								<div class="circle"></div>
							</div>
						</div>
					</div>
				</div>
				<div id="championMasteries" class="card white section">
					<div id="championMasteries_loader" class="preloader-wrapper big active">
						<div class="spinner-layer spinner-blue-only">
							<div class="circle-clipper left">
								<div class="circle"></div>
							</div>
							<div class="gap-patch">
								<div class="circle"></div>
							</div>
							<div class="circle-clipper right">
								<div class="circle"></div>
							</div>
						</div>
					</div>
					<div id="championMasteries_container" class="row" style="display:none;">
						<div class="col s10 offset-s1">
							<ul id="championMasteries_tab" class="tabs cmTabs"></ul>
						</div>
					</div>
				</div>
			</div>


		</div>

	</main>

	<footer></footer>

	<script type="text/javascript " src="/javascripts/common/env.js "></script>
	<script type="text/javascript ">
		SUMMONER_INFO = {

			'id': '{{id}}',
			'region': '{{region}}',
			'name': '{{name}}',
			'profileIconId': '{{profileIconId}}',
			'revisionDate': '{{revisionDate}}',
			'summonerLevel': '{{summonerLevel}}'

		};
	</script>

	<script type="text/javascript " src="/javascripts/dist/jquery.min.js "></script>
	<script type="text/javascript " src="/javascripts/dist/materialize.min.js "></script>
	<script type="text/javascript " src="/javascripts/dist/chart.bundle.min.js"></script>

	<script type="text/javascript " src="/javascripts/common/tools.js "></script>
	<script type="text/javascript " src="/javascripts/common/RequestModule.js "></script>
	<script type="text/javascript " src="/javascripts/common/LOLRequests.js "></script>

	<script type="text/javascript " src="/javascripts/summoner/env.js "></script>
	<script type="text/javascript " src="/javascripts/summoner/graph.js "></script>
	<script type="text/javascript " src="/javascripts/summoner/main.js "></script>
</body>

</html