<!DOCTYPE html>
<html>

<head>
	<title>LoL - Mstry</title>

	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/stylesheets/materialize.min.css">
	<link rel="stylesheet" href="/stylesheets/index-style.css">
	<link rel="icon" type="image/png" href="/images/logo.png" />
</head>

<body class="blue-grey darken-4">
	
	<nav class="blue-grey darken-1">
		<div class="nav-wrapper container">
			<a href="/" class="brand-logo"><img src="/images/logo_text.png" class="container center" style="height:85px; width:auto;"></a>
			<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
			<ul class="right hide-on-med-and-down">
				<li>
					<form class="search_summoner">
						<div class="input-field summoner-input-navbar summoner-input-navbar-desktop">
							<input id="search" type="search" class="summoner-input" required placeholder="{{name}}">
							<label for="search"><i class="material-icons">search</i></label>
							<i class="material-icons">close</i>
						</div>
					</form>
				</li>
				<li>
					<form>
						<div class="input-field server-selection-navbar server-selection-navbar-desktop">
							<select>
							  	<option class="server-selection-none" value="" disabled>Choose your server</option>
							  	<option class="server-selection-br" value="BR">BR</option>
								<option class="server-selection-eune" value="EUNE">EUNE</option>
								<option class="server-selection-euw" value="EUW">EUW</option>
								<option class="server-selection-jp" value="JP">JP</option>
								<option class="server-selection-kr" value="KR">KR</option>
								<option class="server-selection-lan" value="LAN">LAN</option>
								<option class="server-selection-las" value="LAS">LAS</option>
								<option class="server-selection-na" value="NA">NA</option>
								<option class="server-selection-oce" value="OCE">OCE</option>
								<option class="server-selection-ru" value="RU">RU</option>
								<option class="server-selection-tr" value="TR">TR</option>
    						</select>
						</div>
					</form>
				</li>
				<li><a href="#">About</a></li>
			</ul>
			<ul class="side-nav blue-grey lighten-4" id="mobile-demo">
				<li>
					<form class="search_summoner">
						<div class="input-field summoner-input-navbar">
							<input id="search" type="search" class="summoner-input" required placeholder="{{name}}">
							<label for="search"><i class="material-icons ">search</i></label>
							<i class="material-icons ">close</i>
						</div>
					</form>
				</li>
				<li>
					<form>
						<div class="input-field server-selection-navbar">
							<select>
							  	<option class="server-selection-none" value="" disabled>Choose your server</option>
							  	<option class="server-selection-br" value="BR">BR</option>
								<option class="server-selection-eune" value="EUNE">EUNE</option>
								<option class="server-selection-euw" value="EUW">EUW</option>
								<option class="server-selection-jp" value="JP">JP</option>
								<option class="server-selection-kr" value="KR">KR</option>
								<option class="server-selection-lan" value="LAN">LAN</option>
								<option class="server-selection-las" value="LAS">LAS</option>
								<option class="server-selection-na" value="NA">NA</option>
								<option class="server-selection-oce" value="OCE">OCE</option>
								<option class="server-selection-ru" value="RU">RU</option>
								<option class="server-selection-tr" value="TR">TR</option>
    						</select>
						</div>
					</form>
				</li>
				<li><a href="# ">About</a></li>
			</ul>
		</div>
	</nav>

	<main style="margin-top:30px;">

		<div class="row">

			<div class="container center">
				<div id="summonerInfo" class="card white section">
					<div id="summonerInfo_loader" class="preloader-wrapper big active">
						<div class="spinner-layer spinner-blue-only">
							<div class="circle-clipper left">
								<div class="circle"></div>
							</div>
							<div class="gap-patch">
								<div class="circle"></div>
							</div>
							<div class="circle-clipper right">
								<div class="circle"></div>
							</div>
						</div>
					</div>
					<div id="summonerInfo_container" class="row" style="margin-bottom:0px; display:none;">
						<div class="col s10 offset-s1">
							<div class="col s12 m5 l3" id="summonerIcon_col">
								<div style="position:relative;width:150px;height:150px;left:50%;margin-left:-75px;">
									<img src="http://ddragon.leagueoflegends.com/cdn/6.9.1/img/profileicon/{{profileIconId}}.png" style="position:relative;width:100%;height:100%;">
									<div id="triangle_level" style="position:absolute;bottom:0px;right:0px;width:0px;height:0px;border-style:solid;border-width:0 0 40px 40px; border-color: transparent transparent #263238 transparent;"></div>
									<span class="white-text" style="position:absolute;bottom:0px;right:5px;">{{summonerLevel}}</span>
								</div>
							</div>
							<div class="col s12 m7 l3" id="summonerInfo_nameAndRank">
								<div class="col s12" id="summonerInfo_name">
									<span style="font-weight:600;font-size:1.1rem;">{{name}}</span>
								</div>
								<div class="col s12">
									<span id="summonerInfo_rankInfo" style="font-size:0.7rem;"></span>
								</div>
								<div class="col s12" id="summonerInfo_rank" style="height:100px;">
									<img id="summonerInfo_rankImg" src="/images/medals/default.png" style="height:100%;">
								</div>
							</div>
							<div class="col s12 m12 l6" id="summonerInfo_masteries">
								<div class="col s12 m6 l6" id="summonerInfo_sumChampionLevel">
									<div class="card-summoner-info card">
										<div class="card-image card-image-summoner-info">
											<canvas id="summonerInfo_canvas" class="card-summoner-image" width="118" height="118"></canvas>
											<span class="card-title-summoner-info card-title">Score</span>
										</div>
										<div class="card-action-summoner-info card-action">
											<!-- Modal Trigger -->
											<a class="modal-trigger" href="#totalMasteriesPointsModal">More</a>
										</div>
									</div>
									
									<!-- Modal Structure -->
									<div id="totalMasteriesPointsModal" class="modal">
										<div class="modal-content">
											<h4>Mastery Score</h4>
											<p>
												<canvas id="masteriesPointsChart" style="width:400px;height:400px;"></canvas>
											</p>
										</div>
										<div class="modal-footer">
											<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
										</div>
									</div>
								</div>
								<div class="col s12 m6 l6" id="summonerInfo_bestRole">
									<div class="card-summoner-info card">
										<div class="card-image card-image-summoner-info">
											<img src="" id="summonerInfo_image" class="card-image-summoner-img">
											<span class="card-title-summoner-info card-title">Best role</span>
										</div>
										<div class="card-action-summoner-info card-action">
											<!-- Modal Trigger -->
											<a class="modal-trigger" href="#bestRoleModal">More</a>
										</div>
									</div>									
									
									<!-- Modal Structure -->
									<div id="bestRoleModal" class="modal">
										<div class="modal-content">
											<h4>Roles</h4>
											<p>
												<canvas id="rolesChart" style="width:400px;height:400px;"></canvas>
											</p>
										</div>
										<div class="modal-footer">
											<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="topChampionMasteries" class="card white section" style="display:none;">
					<div id="topChampionMasteries_loader" class="preloader-wrapper big active">
						<div class="spinner-layer spinner-blue-only">
							<div class="circle-clipper left">
								<div class="circle"></div>
							</div>
							<div class="gap-patch">
								<div class="circle"></div>
							</div>
							<div class="circle-clipper right">
								<div class="circle"></div>
							</div>
						</div>
					</div>
					<div id="topChampionMasteries_container" class="row">
						<div class="col s10 offset-s1">
							<div class="col l4">
								<div class="card">
									<div class="card-image waves-effect waves-block waves-light">
									  	<img class="activator" src="/images/champions/Thresh_Splash_Centered_0.jpg">
										<div class="card-image-top-title">
											<span style="font-size:250%;">Thresh</span>
											<br>
											<span>The chain warden</span>
										</div>
									</div>
									<div class="card-content">
									  	<span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
									</div>
									<div class="card-reveal">
									  	<span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
									  	<p>Here is some more information about this product that is only revealed once clicked on.</p>
									</div>
								</div>
							</div>
							<div class="col l4">
								<div class="card">
									<div class="card-image waves-effect waves-block waves-light">
									  	<img class="activator" src="/images/champions/Lucian_Splash_Centered_0.jpg">
									</div>
									<div class="card-content">
									  	<span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
									</div>
									<div class="card-reveal">
									  	<span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
									  	<p>Here is some more information about this product that is only revealed once clicked on.</p>
									</div>
								</div>
							</div>
							<div class="col l4">
								<div class="card">
									<div class="card-image waves-effect waves-block waves-light">
									  	<img class="activator" src="/images/champions/Jinx_Splash_Centered_0.jpg">
									</div>
									<div class="card-content">
									  	<span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
									</div>
									<div class="card-reveal">
									  	<span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
									  	<p>Here is some more information about this product that is only revealed once clicked on.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="championMasteries" class="card white section">
					<div id="championMasteries_loader" class="preloader-wrapper big active">
						<div class="spinner-layer spinner-blue-only">
							<div class="circle-clipper left">
								<div class="circle"></div>
							</div>
							<div class="gap-patch">
								<div class="circle"></div>
							</div>
							<div class="circle-clipper right">
								<div class="circle"></div>
							</div>
						</div>
					</div>
					<div id="championMasteries_container" class="row" style="display:none;">
						<div class="col s10 offset-s1">
							<ul id="championMasteries_tab" class="tabs cmTabs"></ul>
						</div>
					</div>
				</div>
			</div>


		</div>

	</main>

	<footer></footer>

	<script type="text/javascript " src="/javascripts/common/env.js "></script>
	<script type="text/javascript ">
		SUMMONER_INFO = {

			'id': '{{id}}',
			'region': '{{region}}',
			'name': '{{name}}',
			'profileIconId': '{{profileIconId}}',
			'revisionDate': '{{revisionDate}}',
			'summonerLevel': '{{summonerLevel}}'

		};
	</script>

	<script type="text/javascript " src="/javascripts/dist/jquery.min.js "></script>
	<script type="text/javascript " src="/javascripts/dist/materialize.js "></script>
	<script type="text/javascript " src="/javascripts/dist/chart.bundle.min.js"></script>

	<script type="text/javascript " src="/javascripts/common/tools.js "></script>
	<script type="text/javascript " src="/javascripts/common/RequestModule.js "></script>
	<script type="text/javascript " src="/javascripts/common/LOLRequests.js "></script>

	<script type="text/javascript " src="/javascripts/summoner/env.js "></script>
	<script type="text/javascript " src="/javascripts/summoner/graph.js "></script>
	<script type="text/javascript " src="/javascripts/summoner/main.js "></script>
</body>

</html