<!DOCTYPE html>
<html>

<head>
	<title>LoL - Mstry</title>

	<link rel="stylesheet" href="/stylesheets/materialize.min.css">
	<link rel="stylesheet" href="/stylesheets/index-style.css">
	<link rel="icon" type="image/png" href="/images/logo.png" />
</head>

<body class="blue-grey darken-4">
	{{region}}
	<script type="text/javascript" src="/javascripts/dist/jquery.min.js"></script>
	<script type="text/javascript" src="/javascripts/dist/materialize.min.js"></script>

	<script type="text/javascript" src="/javascripts/common/tools.js"></script>
	<script type="text/javascript" src="/javascripts/common/RequestModule.js"></script>
	<script type="text/javascript" src="/javascripts/common/env.js"></script>
	<script type="text/javascript" src="/javascripts/common/LOLRequests.js"></script>

	<script type="text/javascript" src="/javascripts/summoner/main.js"></script>
</body>

</html